<div style="position:absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
    <ul class="firebaseui-idp-list" style="" >
      <li class="firebaseui-list-item" (click)="googleLogin()" style="display: none;">
        <button
          class="firebaseui-idp-button mdl-button mdl-js-button mdl-button--raised firebaseui-idp-google firebaseui-id-idp-button"
          data-provider-id="google.com"
          style="background-color: #ffffff"
          data-upgraded=",MaterialButton"
          
        >
          <span class="firebaseui-idp-icon-wrapper"
            ><img
              class="firebaseui-idp-icon"
              alt=""
              src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" /></span
          ><span class="firebaseui-idp-text firebaseui-idp-text-long"
            >Sign in with Google</span
          ><span class="firebaseui-idp-text firebaseui-idp-text-short">Google</span>
        </button>
      </li>
      <li class="firebaseui-list-item" style="display: none;">
        <button
          class="firebaseui-idp-button mdl-button mdl-js-button mdl-button--raised firebaseui-idp-facebook firebaseui-id-idp-button"
          data-provider-id="facebook.com"
          style="background-color: #3b5998"
          data-upgraded=",MaterialButton"
        >
          <span class="firebaseui-idp-icon-wrapper"
            ><img
              class="firebaseui-idp-icon"
              alt=""
              src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/facebook.svg" /></span
          ><span class="firebaseui-idp-text firebaseui-idp-text-long"
            >Sign in with Facebook</span
          ><span class="firebaseui-idp-text firebaseui-idp-text-short"
            >Facebook</span
          >
        </button>
      </li>
      <li class="firebaseui-list-item" style="display: none;" (click)="githubLogin()">
        <button
          class="firebaseui-idp-button mdl-button mdl-js-button mdl-button--raised firebaseui-idp-twitter firebaseui-id-idp-button"
          data-provider-id="twitter.com"
          style="background-color: #55acee"
          data-upgraded=",MaterialButton"
        >
          <span class="firebaseui-idp-icon-wrapper"
            ><img
              class="firebaseui-idp-icon"
              alt=""
              src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/twitter.svg" /></span
          ><span class="firebaseui-idp-text firebaseui-idp-text-long"
            >Sign in with Twitter</span
          ><span class="firebaseui-idp-text firebaseui-idp-text-short"
            >Twitter</span
          >
        </button>
      </li>
      <li class="firebaseui-list-item" style="">
        <button
          class="firebaseui-idp-button mdl-button mdl-js-button mdl-button--raised firebaseui-idp-github firebaseui-id-idp-button"
          data-provider-id="github.com"
          style="background-color: #333333"
          data-upgraded=",MaterialButton"
        >
          <span class="firebaseui-idp-icon-wrapper"
            ><img
              class="firebaseui-idp-icon"
              alt=""
              src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/github.svg" /></span
          ><span class="firebaseui-idp-text firebaseui-idp-text-long"
            >Sign in with GitHub</span
          ><span class="firebaseui-idp-text firebaseui-idp-text-short">GitHub</span>
        </button>
      </li>
      <li class="firebaseui-list-item" [routerLink]="['/signup/account',false]" (click)="emailLogin('some@email.com','123')" style="display: none;">
        <button
          class="firebaseui-idp-button mdl-button mdl-js-button mdl-button--raised firebaseui-idp-password firebaseui-id-idp-button"
          data-provider-id="password"
          style="background-color: #db4437"
          data-upgraded=",MaterialButton"
        >
          <span class="firebaseui-idp-icon-wrapper"
            ><img
              class="firebaseui-idp-icon"
              alt=""
              src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/mail.svg" /></span
          ><span class="firebaseui-idp-text firebaseui-idp-text-long"
            >Sign in with email</span
          ><span class="firebaseui-idp-text firebaseui-idp-text-short">Email</span>
        </button>
      </li>
      <li class="firebaseui-list-item" style="display: none;">
        <button
          class="firebaseui-idp-button mdl-button mdl-js-button mdl-button--raised firebaseui-idp-phone firebaseui-id-idp-button"
          data-provider-id="phone"
          style="background-color: #02bd7e"
          data-upgraded=",MaterialButton"
        >
          <span class="firebaseui-idp-icon-wrapper"
            ><img
              class="firebaseui-idp-icon"
              alt=""
              src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/phone.svg" /></span
          ><span class="firebaseui-idp-text firebaseui-idp-text-long"
            >Sign in with phone</span
          ><span class="firebaseui-idp-text firebaseui-idp-text-short">Phone</span>
        </button>
      </li>
      <li class="firebaseui-list-item" (click)="microsoftLogin()">
        <button
          class="firebaseui-idp-button mdl-button mdl-js-button mdl-button--raised firebaseui-idp-generic firebaseui-id-idp-button"
          data-provider-id="microsoft.com"
          style="background-color: #2f2f2f"
          data-upgraded=",MaterialButton"
        >
          <span class="firebaseui-idp-icon-wrapper" 
            ><img
              class="firebaseui-idp-icon"
              alt=""
              src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/microsoft.svg" /></span
          ><span class="firebaseui-idp-text firebaseui-idp-text-long"
            >Microsoft login</span
          ><span class="firebaseui-idp-text firebaseui-idp-text-short" 
            >Microsoft</span
          >
        </button>
      </li>
      <li class="firebaseui-list-item" (click)="appleLogin()" style="display: none;">
        <button
          class="firebaseui-idp-button mdl-button mdl-js-button mdl-button--raised firebaseui-idp-generic firebaseui-id-idp-button"
          data-provider-id="apple.com"
          style="background-color: #000000"
          data-upgraded=",MaterialButton"
        >
          <span class="firebaseui-idp-icon-wrapper"
            ><img
              class="firebaseui-idp-icon"
              alt=""
              src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/apple.png" /></span
          ><span class="firebaseui-idp-text firebaseui-idp-text-long"
            >Sign in with Apple</span
          ><span class="firebaseui-idp-text firebaseui-idp-text-short">Apple</span>
        </button>
      </li>
      <li class="firebaseui-list-item" style="display: none;">
        <button
          class="firebaseui-idp-button mdl-button mdl-js-button mdl-button--raised firebaseui-idp-anonymous firebaseui-id-idp-button"
          data-provider-id="anonymous"
          style="background-color: #f4b400"
          data-upgraded=",MaterialButton"
        >
          <span class="firebaseui-idp-icon-wrapper"
            ><img
              class="firebaseui-idp-icon"
              alt=""
              src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/anonymous.png" /></span
          ><span class="firebaseui-idp-text firebaseui-idp-text-long"
            >Continue as guest</span
          ><span class="firebaseui-idp-text firebaseui-idp-text-short">Guest</span>
        </button>
      </li>
    </ul>
    </div>