<div class="container-fluid text-center g-0" data-bs-spy="scroll" data-bs-target="#navbar-menu" tabindex="0">
    <div class="row">
      <div class="col">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Chateau Delirium</a>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/signin">
              <mat-icon>how_to_reg</mat-icon>
            </button>          
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navbar-menu">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#id_home_carousel">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#id_coaches">Coaches</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/student/chat">Students</a>
                </li>              
                <li class="nav-item">
                  <a class="nav-link" href="#id_demo">Demo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#id_price">Price</a>
                </li>              
                <li class="nav-item">
                  <a class="nav-link" href="#id_aboutus">About Us</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="id_home_carousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://upload.wikimedia.org/wikipedia/commons/c/cc/684A7385.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div style="height: 30px;"></div>
    <div class="row justify-content-center" style="padding-left: 10px; padding-right: 10px;">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header">
            <div class="material-symbols-outlined large"> school </div>
            <div id="id_coaches">Coaching</div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a routerLink="/coach" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div style="height: 30px;"></div>
    <div class="row">
      <div class="col">
        <h2 id="id_demo">Demo</h2>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nFx6yKZrzco?si=dyV0jt1VmhSqtpyS" allowfullscreen></iframe>
        </div>      
      </div>
   </div>
   <div style="height: 30px;"></div>
   <div class="row justify-content-center" >
    <h2 id="id_price">Pricing</h2>
    <div class="col-sm-4" style="padding-left: 20px; padding-right: 20px;">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Starter</h3>
        </div>
        <div class="card-body">
          <p class="card-text text-start">With supporting text below as a natural lead-in to additional content.</p>
          <ul class="text-start">
            <li>Feature 1</li>
            <li>Feature 2</li>
            <li>Feature 3</li>
          </ul>
          <a href="/student/chat" class="btn btn-primary">Sign Up</a>
        </div>
      </div>
      <div style="height: 30px;"></div>
     </div>
     <div class="col-sm-4" style="padding-left: 20px; padding-right: 20px;">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Standard</h3>
        </div>
        <div class="card-body">
          <p class="card-text text-start">With supporting text below as a natural lead-in to additional content.</p>
          <ul class="text-start">
            <li>Feature 1</li>
            <li>Feature 2</li>
            <li>Feature 3</li>
          </ul>
          <a href="/student/chat" class="btn btn-primary">Sign Up</a>
        </div>
      </div>
      <div style="height: 30px;"></div>
     </div>     
     <div class="col-sm-4" style="padding-left: 20px; padding-right: 20px;">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Professional</h3>
        </div>
        <div class="card-body">
          <p class="card-text text-start">With supporting text below as a natural lead-in to additional content.</p>
          <ul class="text-start">
            <li>Feature 1</li>
            <li>Feature 2</li>
            <li>Feature 3</li>
          </ul>
          <a href="/student/chat" class="btn btn-primary">Sign Up</a>
        </div>
      </div>
     </div>
  </div>
  <div style="height: 30px;"></div>
  <div class="row ">
    <div class="col text-start">
      <h2 id="id_aboutus" class="text-center">About Us</h2>
      <p style="padding-left: 20px; padding-right: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pretium viverra suspendisse potenti nullam ac tortor vitae.</p>
  
      <p style="padding-left: 20px; padding-right: 20px;">Porta nibh venenatis cras sed. Diam volutpat commodo sed egestas egestas fringilla. Mattis nunc sed blandit libero volutpat. Fermentum odio eu feugiat pretium nibh. Neque volutpat ac tincidunt vitae semper quis lectus nulla. Vel orci porta non pulvinar neque laoreet. </p>
      
      <p style="padding-left: 20px; padding-right: 20px;">Ut diam quam nulla porttitor massa id. Ullamcorper velit sed ullamcorper morbi tincidunt ornare.</p>
    </div>
  </div>
   <div style="height: 30px;"></div>
   <div class="row border-top">
     <div class="col">
       <h2>Impressum</h2>
     </div>
  </div> 
  </div>
  
  